@charset "UTF-8";

title{
  color: yellow;
}

*{
  background-color: #e6e6fa;
}

h1{
  text-align: center;
  position: center;
}

article{
  position-center;
}

section{
  float-left;
}

#leftyose{
  flat-right;
}

#gazou{
  position : center;
}

#bigF{
  color : red;
}

h4{
  potision  : center;
  color : yellow;
}
