@charset "UTF-8";

title{
  color: red;
  background-color: black;
}

//時間によるタイマーと背景色
#jikan{
  background-color: black;
  color: blue;
  text-align: center;
}
#jikanYaba{
  background-color: yellow;
  color:red;
  text-align: center;
}

#XXX{
  text-align: center;
}
