@charset "UTF-8";

title{
  color: yellow;
}

*{
  background-color: #e6e6fa;
}

h1{
  position: center;
}

article{
  position-center;
}

section{
  float-left;
}

#gazou{
  position : center;
}

#bigF{
  color : red;
}
